html {
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100%;
    margin: 0;
    padding-top: 20px;
}

#main {
    background-color: rgb(232, 232, 232);
    margin: 0 auto;
    max-width: 98%;
    height: 100vh;
    border-radius: 4px;
}

header {
    width: 100%;
    padding-top: 10px;
}

header h1 {
    margin: 10px auto
}

header p {
    margin: 20px auto;
}

figure {
    background-color: darkkhaki;
    width: 90%;
    margin: auto;
    background-color: #ffffff;
    padding: 20px;
}

#img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}

#img-caption {
    text-align: center;
    font-size: 1.2em;
    margin-top: 20px;
}

header {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.5rem;
}

section {
    background-color: darkgoldenrod;
    width: 80%;
    margin: 10px auto 0 auto;
    text-align: center;    
}

ul {
    text-align: center;
    list-style: inside;
}