html {
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100%;
    margin: 0;
    padding: 20px 0;
}

#main {
    background-color: rgb(232, 232, 232);
    margin: 0 auto;
    padding: 30px 0;
    max-width: 98%;
    height: auto;
    border-radius: 4px;

}

header {
    width: 100%;
    padding-top: 10px;
}

header h1 {
    margin: 0 auto 10px auto;
}

header p {
    margin: 20px auto;
}

#known-for {
    padding-bottom: 20px;
}

figure {
    background-color: darkkhaki;
    width: 90%;
    margin: auto;
    background-color: #ffffff;
    padding: 20px;
}

#image {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}

#img-caption {
    text-align: center;
    font-size: 1.2em;
    margin-top: 20px;
}

header {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.5rem;
}

section {
    width: 80%;
    margin: 10px auto 0 auto;
    text-align: center;    
}

#time-line-heading {
    padding: 30px 0 20px 0;
}

ul {
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    list-style: inside;
}

li {
    padding: 10px 0;
    font-size: large;
    margin: 16px 0;
}